<div class="row">
    <div class="small-12 small-centered medium-6 medium-centered columns text-center">
        <a href="{{ '/blog/' | prepend: site.baseurl }}" class="read-all-articles-button">View all Articles</a>
    </div>
</div>

<footer class="footer">

    <div class="row">
        <div class="full column small-text-center medium-text-left">
            <h4>{{ site.site_owner }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="row">
                <div class="full column small-text-center medium-text-left">
                    <a href="https://github.com/{{ site.github_username }}" target="_blank">
                        <i class="fa fa-github"></i> {{ site.github_username }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="full column small-text-center medium-text-left">
                    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                        <i class="fa fa-twitter"></i> {{ site.twitter_username }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="full column small-text-center medium-text-left">
                    <a href="mailto:{{ site.site_owner_email }}" target="_blank">
                        <i class="fa fa-envelope"></i> {{ site.site_owner_email }}
                    </a>
                </div>
            </div>
        </div>
        <div class="medium-5 columns show-for-medium-up medium-text-right about-blub">
            <p>{{ site.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="full small-centered columns text-center copyright">
            &copy; {{ site.time | date: "%Y" }}, {{ site.site_owner }}.
        </div>
    </div>
</footer>