<header class="header">
    <div class="darken"></div>
    <div class="row">
        <div class="small-12 column">
            <a href="{{ '/' | prepend: site.baseurl }}">
                <div class="row">
                    <div class="show-for-small-only small-2 small-centered columns author-portrait-circle-lg">
                    </div>
                </div>
            </a>

            <div class="row">
                <a href="{{ '/' | prepend: site.baseurl }}">
                    <div class="show-for-medium-up medium-1 columns author-portrait-circle-md">
                    </div>
                </a>

                <div class="medium-10 end columns small-text-center medium-text-left">
                    <a href="{{ '/' | prepend: site.baseurl }}">
                        <h2>{{ site.site_owner }}</h2>
                    </a>

                    <h3>
                        <small>{{ site.site_strapline }}</small>
                    </h3>
                    <h5>
                        <a href="{{ '/about' | prepend: site.baseurl }}">about</a>
                        | <a href="#">cv</a>
                        <span class="show-social-icons-inline">
                            |
                            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            |
                            <a href="https://github.com/{{ site.github_username }}" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row header-separator">
    <div class="small-12 columns compact-header small-centered show-for-small-only">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
</div>