<header class="header">
    <div class="darken"></div>
    <div class="row">
        <div class="small-12 column">
            <div class="row">
                <a href="/">
                    <div class="small-2 small-centered column author-portrait-circle-lg">
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="small-12 small-centered column">
                    <a href="/">
                        <h2>{{ site.site_owner }}</h2>
                    </a>

                    <h3>
                        <small>{{ site.site_strapline }}</small>
                    </h3>

                    <h5><a href="/about">about</a> | <a href="#">cv</a></h5>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row header-separator">
    <div class="full columns small-centered">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
</div>
