/*
  Copyright 2015, Yohan Fernando (@yohanfernando)

  This contains all the variables I have used in the site which you can alter to get the
  desired visual look & feel.
*/

//font-family:
$body-font-family: 'Open Sans', sans-serif;

//set customisation colours
$author-font-color: #666;
$header-background-color: #f2f2f2;
$separator-border-color: #e9e9e9;