/*
  Copyright 2015, Yohan Fernando (@yohanfernando)

  This contains all the variables I have used in the site which you can alter to get the
  desired visual look & feel.
*/

// AMEND_HERE >>>
// Set a background image of your preference, lager the better to cover big screens
$header-background-image: 'https://static.pexels.com/photos/6894/summer-photographer-pier-adventure-large.jpg';

// AMEND_HERE >>>
// Set site owner/author thumbnail image (picture of your face/persona)
// The thumbnail needs to be on three sizes as below
$site-owner-thumb-lg: 'http://placehold.it/400x400&text=[FACE]';
$site-owner-thumb-md: 'http://placehold.it/300x300&text=[FACE]';
$site-owner-thumb-sm: 'http://placehold.it/200x200&text=[FACE]';

//Set font-family:
$body-font-family: 'Open Sans', sans-serif;

//set customisation colours
$author-font-color: #666;
$header-background-color: #f2f2f2;
$separator-border-color: #e9e9e9;